<!DOCTYPE html>
<html>
<body>
    <p>Nouveau message de contact :</p>
    <p><strong>Nom :</strong> {{ data.nom_complet }}</p>
    <p><strong>Nom :</strong> {{ data.email }}</p>
    <p><strong>Message :</strong> {{ data.message }}</p>
</body>
</html>